"$schema" = 'https://starship.rs/config-schema.json'

command_timeout = 2000  # Timeout in milliseconds (e.g., 2000ms = 2 seconds)

format = """
[](surface0)\
$os\
$username\
[](bg:flamingo fg:surface0)\
$directory\
[](fg:flamingo bg:pink)\
$git_branch\
$git_status\
[](fg:pink bg:orange)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[ ](fg:orange)\

$fill\

$battery\
[ ](fg:rosewater)\
$time\
[](fg:rosewater)\
$line_break\
$character"""



palette = 'vitale'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[palettes.vitale]
rosewater = "#f4cde9"  # Using Vitale foreground
flamingo = "#e9897c"   # Vitale palette 1
pink = "#b6377d"       # Vitale palette 2
orange = "#75507b"     # Vitale palette 5
red = "#e9897c"        # Vitale palette 1
maroon = "#b6377d"     # Vitale palette 2
peach = "#f99286"      # Vitale palette 9
yellow = "#ecebbe"     # Vitale palette 3
green = "#c3f786"      # Vitale palette 10
teal = "#c9caec"       # Vitale palette 6
sky = "#a9cdeb"        # Vitale palette 4
sapphire = "#b6defb"   # Vitale palette 12
blue = "#a9cdeb"       # Vitale palette 4
lavender = "#d7d9fc"   # Vitale palette 14
text = "#f2f2f2"       # Vitale palette 7
subtext1 = "#e2e2e2"   # Vitale palette 15
subtext0 = "#f2f2f2"   # Vitale palette 7
overlay2 = "#6c6c6c"   # Vitale palette 8
overlay1 = "#464646"   # Vitale palette 0
overlay0 = "#464646"   # Vitale palette 0
surface2 = "#464646"   # Vitale palette 0
surface1 = "#24202c"   # Vitale background
surface0 = "#24202c"   # Vitale background
base = "#24202c"       # Vitale background
mantle = "#24202c"     # Vitale background
crust = "#24202c"      # Vitale background

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
orange = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[os]
disabled = false
style = "bg:surface0 fg:rosewater"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bg:surface0 fg:rosewater"
style_root = "bg:surface0 fg:rosewater"
format = '[ $user ]($style)'

[directory]
style = "fg:mantle bg:flamingo"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Websites" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:pink"
format = '[[ $symbol $branch ](fg:base bg:pink)]($style)'

[git_status]
style = "bg:pink"
format = '[[($all_status$ahead_behind )](fg:base bg:pink)]($style)'

[nodejs]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[c]
symbol = " "
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[rust]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[golang]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[php]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[java]
symbol = " "
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[kotlin]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[haskell]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[python]
symbol = ""
style = "bg:orange"
format = '[[ $symbol( $version) ](fg:base bg:orange)]($style)'

[docker_context]
symbol = ""
style = "bg:mantle"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:rosewater"
format = '[[  $time ](fg:mantle bg:rosewater)]($style)'

[line_break]
disabled = false

[fill]
symbol = " "

[battery]
format = "[$symbol$percentage]($style) "

[[battery.display]]
threshold = 10
style = "bold fg:red"

[[battery.display]]
threshold = 99
style = "fg:text"

[[battery.display]]
threshold = 100
style = "fg:green"

[character]
disabled = false
success_symbol = '[](bold fg:green)'
error_symbol = '[](bold fg:red)'
vimcmd_symbol = '[](bold fg:creen)'
vimcmd_replace_one_symbol = '[](bold fg:purple)'
vimcmd_replace_symbol = '[](bold fg:purple)'
vimcmd_visual_symbol = '[](bold fg:lavender)'
